body {
    background-color: #FEFFFE;
    background-image: url("./images/monstearTileOPC.png");
    background-repeat: repeat;
    height: 100%;
    display: grid;
}

footer {
    margin: auto;
    padding: 1rem;
    width: max-content;
    height: auto;
    background-color: #2f4d49;
    border-radius: 0.5rem;
}

div.navbar {
    display: grid;
    align-content: center;
}

.logo {
    justify-self: center;
    max-width: 15rem;
    height: auto;
}

img {
    border-radius: 0.5rem;
}

button {
    justify-self: center;
    border: none;
    border-radius: 0.5rem;
    margin: 0.2rem;
    width: 8rem;
    padding: 1.5rem;
    background-color: #3F6660;
    color: white
}

button:hover {
    background-color: #2f4d49 ;
}

.product-cards {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-img {
    justify-self: center;
    max-width: auto;
    height: auto;
}

.card-text {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.product {
    justify-self: center;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #FEFFFE;
    box-shadow: 5px 5px 3px grey;
    border-radius: 0.5rem;
}