body {
    /*background-color: #FEFFFE;
    background-image: url("./images/monstearTileOPC.png");
    background-repeat: repeat;*/
    background-color: #3F6660;
    height: 100%;
    display: grid;
}

footer {
    margin: auto;
    padding: 0.8rem;
    width: max-content;
    height: auto;
    border-radius: 0.5rem;
}

a {
    display: grid;
    height: fit-content;
}

form {
    display:grid;
    padding-left: 1rem;
}

input, textarea {
    width: 90%;
}

textarea {
    height: 8rem;
}

.icons {
    padding-left: 0.6rem;
}

div.navbar {
    display: grid;
    align-content: center;
}

.logo {
    justify-self: center;
    max-width: 15rem;
    height: auto;
}

.navbuttons {
    align-items: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

img {
    border-radius: 0.5rem;
}

button {
    border: none;
    border-radius: 0.5rem;
    margin: 0.2rem;
    width: 8rem;
    padding: 1.5rem;
    background-color: #3F6660;
    color: white
}

.buy-button {
    justify-content: center;
    width: 100%;
    display: grid;
}

button.buynow {
    display: grid;
    align-self: center;
    padding: 0.2rem;
    width: 6rem;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #2f4d49 ;
}

.product-cards {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-img {
    max-width: auto;
    height: auto;
}

.card-text {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.product {
    display: grid;
    justify-self: center;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #FEFFFE;
    box-shadow: 0.5rem 0.5rem 0.18rem rgb(32, 53, 33);
    border-radius: 0.5rem;
}

.contact {
    display: grid;
    justify-self: center;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #FEFFFE;
    box-shadow: 0.5rem 0.5rem 0.18rem rgb(32, 53, 33);
    border-radius: 0.5rem;
}

.product-area {
    margin-bottom: 3rem;
    background-color:#FEFFFE;
    display: grid;
    width: 90%;
    justify-self: center;
    box-shadow: 1rem 1rem 1rem rgb(32, 53, 33);
    border-radius: 1rem;
}

.product-text {
    padding-left: 1rem;
    padding-right: 1rem;
}

.contactus {
    justify-self: start;
    margin:1rem;
    width: 80%;
}

.contactbox {
    padding: 1rem;
}

@media  screen and (min-width: 750px) {
    button {
        font-size: 1.2rem;
    }

    .navbar {
        grid-template-columns: 1fr 1fr;
    }

    .navbuttons {
        font-size: 40px;
        grid-template-columns: 1fr 1fr;
    }

    .product {
        width: 90%;
    }

    .contact {
        font-size: 1.1rem;
        width: 90%;
        grid-template-columns: 1fr 1fr;;
    }

    .product-cards {
        grid-template-columns: 1fr 1fr;
    }

    .product-area {
        grid-template-columns: 1fr 2fr;
    }

    .buy-button {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1000px) {
    button {
        font-size: 1.5rem;
    }

    button.buynow {
        width: 10rem;
    }

    .logo {
        justify-self: start;
        padding-left: 4rem;
    }

    .product-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navbuttons {
        padding-right: 4rem;
        align-items: center;
        justify-self: end;
    }

    .btn {
        font-size: 1.5rem;
        height: 5rem;
    }

    .product-area {
        grid-template-columns: 1fr 3fr;
    }

    .product-text {
        font-size: 1.5rem;
    }

    .contact {
        font-size: 2rem;
    }
}